<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Nq1  C#dSA.Properties.Settings.ordersConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\orders.accdb;Persist Security Info=True" providerName="System.Data.OleDb"/>
  </connectionStrings>
  <appSettings>
    <add key="Filename" value="C:/test1.txt"/>
    <add key="VolumeStock" value="1"/>
    <add key="BankNifty" value="1"/>
    <add key="Others" value="1"/>
    <add key="NearExpiry" value="28-May-2015"/>
    <add key="NextExpiry" value="28-Mar-2015"/>
    <add key="LineNo" value="0"/>
    <add key="BTD" value="0"/>
    <add key="pivot" value="0"/>
    <!--<add  key ="LoginID" value="348147off"/>-->
    <add key="LoginID" value="rajatd55"/>
    <add key="LiveTest" value="False"/>
    <add key="RISK" value="0"/>
    <add key="TARGET" value="0"/>
    <add key="BackLiveTest" value="True"/>
    <add key="DoNotRemove" value="True"/>   
    <add key="Brokerage" value="True"/>
    <add key="BackTest" value="True"/>
    <add key="MembershipPWD" value="WinM@123"/>
    <add key="risk" value="5000"/>
    <add key="HPT" value="0"/>
    <add key="TakeBackupOfFilesAfterPlacingOrders" value="False"/>
    <add key="myAPIKey" value="253tendzrkq911h2"/>
    <add key="mySecret" value="g0wzr0vk9cmpypexzhfzkslwn351x0n1"/>
    <add key="requestToken" value="ND5NMGUD9Vp8tLgm9VO8z3kQAD5iba0h"/>
    <!--<add  key ="TradingPWD" value="88b587"/>-->
    <add key="TradingPWD" value="WinY@123"/>
    <add key="IP" value="192.168.43.154"/>
    <add key=""/>
    <add key="connectionString" value="(localdb)\v11.0;Initial Catalog=Halo;Integrated Security=True;Application Name=Halo"/>
    <add key="PSA" value="2"/>
    
    <add key="SMA" value="2"/>
    
    <add key="GAPUD" value="5"/>
    
    <add key="Hourly" value="5"/>
    
    <add key="Recovery" value="1"/>
    
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <startup>
    <!--<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />-->
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
